{{#partial "content"}}

    <p> Below are the list of apis which can be used to peform any operation to the data base</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">API ROUTE</th>
            <th scope="col">DESCRIPTION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>/departments/new - POST</td>
            <td>create a new department</td>
        </tr>

        <tr>
            <td></td>
            <td>/users/new - POST</td>
            <td>create a new user/ employee.</td>
        </tr>
        <tr>
            <td></td>
            <td>/departments/:departmentId/user/:userId - POST</td>
            <td>create a new user/ employee to specific department</td>
        </tr>
        <tr>
            <td></td>
            <td>/departments/:id/users - GET</td>
            <td>list all the users from a specific department</td>
        </tr>
        <tr>
            <td></td>
            <td>/users/:id/departments - GET</td>
            <td>list all users and departments they can access the news</td>
        </tr>
        <tr>
            <td></td>
            <td>/departments/:departmentId/articles/new - POST</td>
            <td>creating news for specific department</td>
        </tr>
        <tr>

            <td></td>
            <td>/departments/:id - GET</td>
            <td>view details of a specific department</td>
        </tr>
        <tr>
            <td></td>
            <td>/departments/:id/articles - GET</td>
            <td>getting all the articles for a specific department</td>
        </tr>
        <tr>
            <td></td>
            <td>/users - GET</td>
            <td>listing all the users.</td>
        </tr>

        </tbody>
    </table>
{{/partial}}

{{> layout.hbs}}